   # Visual Studio files
   .vs/
   *.suo
   *.user
   *.userosscache
   *.sln.docstates
   
   # Build results
   [Bb]in/
   [Oo]bj/
   [Dd]ebug/
   [Rr]elease/
   x64/
   x86/
   
   # User-specific files
   *.aps
   *.cach
   *.sdf
   *.opendb
   *.VC.db
   
   # Windows image file caches
   Thumbs.db
   
   # macOS
   .DS_Store